<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview • Pico.css</title>
    <meta name="description" content="A starter example with all elements and components used in Pico design system. Built with Pico CSS.">
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico">
    <link rel="canonical" href="https://picocss.com/examples/preview/">

    <link rel="stylesheet" href="/static/css/pico.min.css">

  </head>

  <body>

    <header class="container">
      <hgroup>
        <h1>Pico</h1>
        <h2>A starter example with all elements and components used in Pico design system.</h2>
      </hgroup>
      <nav>
        <ul>
          <li>Theme:</li>
          <li><a href="#" data-theme-switcher="auto">Auto</a></li>
          <li><a href="#" data-theme-switcher="light">Light</a></li>
          <li><a href="#" data-theme-switcher="dark">Dark</a></li>
        </ul>
      </nav>
    </header><!-- ./ Header -->

    

  </body>

</html>
